<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/Easy_Drive"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".detailmobil"
            android:exported="false" />
        <activity
            android:name=".daftarmobil"
            android:exported="false" />
        <activity
            android:name=".otplupasandi"
            android:exported="false" />
        <activity
            android:name=".konfirmaspembayran"
            android:exported="false" />
        <activity
            android:name=".konfirmasipembayran"
            android:exported="false"
            android:label="@string/title_activity_konfirmasipembayaran"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".kodeotp"
            android:exported="false" />
        <activity
            android:name=".pembayarancash"
            android:exported="false" />
        <activity
            android:name=".pembayaran"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LupaSandi"
            android:exported="false" />
        <activity
            android:name=".pesanan"
            android:exported="false" />
        <activity
            android:name=".registrasi"
            android:exported="false" />
        <activity
            android:name=".Dasboard"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>